[project]
name = "gson-sbc-chemoinfo"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "ipykernel>=7.1.0",
    "pandas>=2.3.3",
    "rdkit>=2025.9.3",
]
